
$main-desire : #E63946;
$main-honeydew: #F1FAEE;
$main-light-blue: #A8DADC;
$main-queen-blue: #457B9D;
$main-space-cadet: #1D3557;

.far, .fas, .fa{
  font-size: 25px;
  color: $main-space-cadet;
}
.red {
  color: $main-desire
}
.fa-minus-circle {
  font-size: 40px;
  color: $main-desire;
  text-shadow: 2px 2px 2px darken($main-space-cadet, 30%);
  margin: 10px;
}
.far:hover, .fas:hover, .fa:hover {
  cursor: pointer;
}
.input-style{
  background: $main-honeydew;
  width: 200px;
  margin: 10px auto;
  border-radius: 6px;
  font-size: 16px;
  padding: 2%;
  border: 1px solid $main-space-cadet;
}
.button {
  padding: 15px;
  margin: 10px;
  font-size: 14px;
  border: 2px solid $main-honeydew;
  border-radius: 4px;
  background: $main-desire;
  color: $main-honeydew;
  box-shadow: 2px 2px 2px darken($main-space-cadet, 30%);
  font-size: 16px;
}
.button:hover {
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;

}
.main_container {
  margin: 0;
  padding: 0;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: $main-honeydew;
}
.linethrough {
  text-decoration: line-through;
  background: $main-desire;
  color: $main-honeydew;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 700px;
  background: $main-queen-blue;
  padding: 20px 0;
  border-bottom: 2px solid $main-space-cadet;
}
.header-one {
  font-size: 44px;
}
h1 {
  width: 60%;
  margin: 40px 200px 20px 200px;
  color: $main-honeydew;
}
.header > button{
  @extend .button;
}
.list {
  display: flex;
  justify-content: center;
  width: 100%;
}
.list-div {
  width: 100%;
}
.list-form, .fridge-form {
  display: flex;
  flex-direction: column;
  background: $main-space-cadet;
  color: $main-honeydew;
  width: 60%;
  margin: 20px auto;
  border-radius: 6px;
  padding: 10px;
}
.show-form {
  @extend .button;
  width: 150px;
  margin: auto;
  background: $main-light-blue;
  color: $main-space-cadet;
  font-weight: bold;
}
.list-form{
  form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 10%;
    label {
      font-size: 20px;
      margin: 20px;
      input{
        @extend .input-style;
      }
      select {
        @extend .input-style;
        height: 31px;
      }
    }
    button {
      @extend .button;
      margin: 20px 20%;
      width: 160px;
      background: $main-light-blue;
      color: $main-space-cadet;
      font-weight: bold;
    }
  }
}
.fridge-form{
  form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 15%;
    label {
      font-size: 20px;
      margin: 20px;
      input{
        @extend .input-style;
      }
      select {
        @extend .input-style;
        height: 31px;
      }
    }
    button {
      @extend .button;
      margin: 20px 20%;
      width: 160px;
      background: $main-light-blue;
      color: $main-space-cadet;
      font-weight: bold;
    }
  }
}

.outer-table {
  justify-content: center;
  width: 98%;
  margin: 75px auto;
  background: $main-queen-blue;
  border-radius: 4px;
  tbody{
    tr:nth-child(even){
      background: lighten($main-light-blue, 10%);
    }
    tr:nth-child(odd){
      background: $main-honeydew;
    }
    tr {
      height: 50px;
      th {
        height: 60px;
        background: $main-space-cadet;
        color: $main-honeydew;
        table {
          margin: auto;
          width: 100%;
        }
      }
      td {
        border: 1px solid $main-space-cadet;
        font-weight: bold;
        table {
          margin: auto;
          width: 100%;
          tbody{
            tr {
              td {
                width: 30%;
              }
              .small-list {
                width: 15%;
              }
            }
          }
        }
      }
    }
  }
}
.update-form {
  form{
    background: $main-queen-blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    label {
      padding-top: 15px;
      margin: auto;
      input {
        @extend .input-style;
        height: 20px;
      }
      select {
        @extend .input-style;
        height: 30px;
        width: 210px;
      }
    }
    .submit-button {
      @extend .button;
    }
  }
}
footer {
  min-width: 700px;
  background: $main-queen-blue;
  padding: 20px 0;
  border-top: 2px solid $main-space-cadet;
  h3 {
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid $main-space-cadet;
    background: $main-desire;
    color: $main-honeydew;
    border-radius: 6px;
    box-shadow: 1px 1px 1px darken($main-space-cadet, 30%);
  }
}
@media (max-width: 800px){
  .header > button{
    margin: 10px 200px;
  }
}
