:root{
  --main-desire: #E63946;
  --main-honeydew: #F1FAEE;
  --main-light-blue: #A8DADC;
  --main-queen-blue: #457B9D;
  --main-space-cadet: #1D3557;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
}
.main_container {
  width: 100%;
  text-align: center;
  background: var(--main-honeydew)
}
.linethrough {
  text-decoration: line-through;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--main-queen-blue);
}
h1 {
  width: 100%;
  margin-top: 40px;
  color: var(--main-honeydew);
}
.header > button{
  padding: 15px;
  margin: 20px;
  font-size: 14px;
  border: 2px solid var(--main-honeydew);
  border-radius: 4px;
  background: var(--main-desire);
  color: var(--main-honeydew);
  box-shadow: 2px 2px 2px var(--main-space-cadet);
}
.list {
  display: flex;
  justify-content: center;
  width: 100%;
}
.list-div {
  width: 100%;
}
.list-form, .fridge-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  background: var(--main-space-cadet);
  color: var(--main-honeydew);
  width: 60%;
  margin: 20px auto;
  border-radius: 6px;
  padding: 10px;
}
.list-form > form > label > input {
  width: 30%;
  margin: 1%;
}
